<!--<div [formGroup]="group">-->
<!--	<mat-form-field class="mat-form-field-fluid">-->
<!--		<mat-select [formControl]="tcrKYCCtrl" ngDefaultControl-->
<!--					[formControlName]="config.name" id="tcrKYCSelect"-->
<!--					#tcrKYCSelect-->
<!--					[placeholder]="config.placeholder">-->
<!--			<ngx-mat-select-search-->
<!--					[placeholderLabel]="config.placeholder"-->
<!--					[noEntriesFoundLabel]="'No matching'"-->
<!--					[formControl]="tcrKYCFilterCtrl">-->
<!--				<mat-icon ngxMatSelectSearchClear>close</mat-icon>-->
<!--			</ngx-mat-select-search>-->
<!--			<mat-option *ngFor="let option of filteredTcrKYCWard | async"-->
<!--						[value]="option">-->
<!--				{{option.cfgValue}}-->
<!--			</mat-option>-->
<!--		</mat-select>-->
<!--	</mat-form-field>-->
<!--</div>-->